<h1>Category <%= @category.id %></h1>
<p><strong>Name:</strong> <%= @category.name %></p>
<p><strong>Description:</strong> <%= @category.description %></p>

<p><a href = "/categories/<%= @category.id %>/edit">Edit Category</a></p>
