<h1>Products</h1>
<% @products.each do |product| %>
  <p>
    Name: <%= product.name %>
  </p>
  <p>
    Description: <%= product.description %>
  </p>
  <p>
    Price: <%= product.formatted_price %>
  </p>
<% end %>
